---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SkillList from "../components/SkillList.astro";

import mail from '../assets/mail.svg';
import github from '../assets/github-mark.png';
import linkedin from '../assets/linkedin.png';
import profile from '../assets/profile-photo.jpg';
import analysis from '../assets/undraw_analysis_dq08.svg';
import electricity from '../assets/undraw_electricity_k2ft.svg';
import projections from '../assets/undraw_projections_re_ulc6.svg';
import excavator from '../assets/excavator.gif';

const email = 'rodrigo.fernandez@rodfer.me';
const title1 = 'Unlock the Power of Technology';
const title2 = 'Transform Your Digital Vision into Reality';
const title3 = 'Stay Ahead of the Technology Curve';

const p1 = `Are you looking for a skilled IT professional to take your business to new heights? 
                I'm here to help. With my extensive experience in web development, software 
                engineering, and more, I've got you covered. Together, we can harness the power of 
                technology to drive growth, streamline operations, and exceed your business goals. 
                Take the first step towards success by partnering with me, your top-notch IT 
                engineer.`;
const p2 = `In today's digital landscape, having a strong online presence is crucial. 
                As an IT engineer, I specialize in turning your digital vision into a reality. 
                Whether you need a stunning website, a cutting-edge mobile app, or custom software 
                solutions, I have the skills and expertise to deliver results. I work closely with 
                you to understand your unique requirements and create tailor-made solutions that 
                drive engagement, enhance user experience, and boost your brand's visibility. Get 
                ready to stand out from the competition with me.`
const p3 = `Technology is constantly evolving, and staying ahead of the curve is essential for 
                business success. I stay up-to-date with the latest industry trends and technologies. 
                I am adept at implementing innovative solutions that give your business a competitive 
                edge. Whether it's adopting cloud computing or optimizing cybersecurity measures. I 
                have the knowledge and expertise to propel your business forward. Don't let technology 
                hold you back and stay ahead in the digital era.`;
const aboutme = `I'm an IT engineer who loves technology and enjoys messing with new stuff. Graduated 
                    in 2018 I keep working in the field and learning to improve myself. I consider myself 
                    a backend developer but evrything is a web app, so here I am.`;
---

<Layout title="Home">
    
    <header class="text-base color-beige flex justify-between h-10 py-1">
        <div class="w-3/5" />
        <div class="flex items-center">
            <p class="mr-2 text-center text-black font-semibold">{email}</p>
            <a href="mailto:rodrigo.fernandez@rodfer.me" class="h-full mx-2">
                <img src={mail.src} class="h-full"/>
            </a>
            <a href="https://github.com/rodrigofndz" class="h-full mx-2">
                <img src={github.src} class="h-full"/>
            </a>
            <a href="https://www.linkedin.com/in/rodrigo-fernandez-sanchez-124299232/" class="h-full ml-2 mr-1">
                <img src={linkedin.src} class="h-full"/>
            </a>
        </div>
        <div />
    </header>
    <main class="flex flex-col justify-center items-center h-full">
        <div class="bg-blue-950 flex justify-around align-center w-full py-8">
            <div />
            <div class="ml-12 md:ml-0 self-center">
                <h1 class="text-5xl lg:text-9xl">Rodrigo</h1>
                <h1 class="text-5xl lg:text-9xl">Fernández</h1>
            </div>
            <div />
            <div class="ml-12 md:ml-0 md:shrink-0">
                <img src={profile.src} class="off-screen-right transition-all duration-500 w-2/3 lg:w-full h-auto max-w-xs lg:max-w-sm rounded-md" id="profile-photo"/>
            </div>
            <div />
        </div>
        <div class="bg-blue-950 w-full h-20">
            <svg viewBox="0 0 1440 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 43.9999C106.667 43.9999 213.333 7.99994 320 7.99994C426.667 7.99994 533.333 43.9999 640 43.9999C746.667 43.9999 853.333 7.99994 960 7.99994C1066.67 7.99994 1173.33 43.9999 1280 43.9999C1386.67 43.9999 1440 19.0266 1440 9.01329V100H0V43.9999Z"
                    class="fill-current text-blue-900"></path>
            </svg>
        </div>
        <div class="flex flex-col justify-center items-start">
            <div class="bg-blue-900 w-full">
                <Section title={title1} src={analysis.src} text={p1} pclass="mx-auto w-2/3" />
            </div>
            <div class="bg-blue-900 w-full h-20">
                <svg viewBox="0 0 1440 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 43.9999C106.667 43.9999 213.333 7.99994 320 7.99994C426.667 7.99994 533.333 43.9999 640 43.9999C746.667 43.9999 853.333 7.99994 960 7.99994C1066.67 7.99994 1173.33 43.9999 1280 43.9999C1386.67 43.9999 1440 19.0266 1440 9.01329V100H0V43.9999Z"
                        class="fill-current text-blue-800"></path>
                </svg>
            </div>
            <div class="bg-blue-800 w-full">
                <Section title={title2} src={electricity.src} text={p2} pclass="mx-auto w-2/3" />
            </div>
            <div class="bg-blue-800 w-full h-20">
                <svg viewBox="0 0 1440 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 43.9999C106.667 43.9999 213.333 7.99994 320 7.99994C426.667 7.99994 533.333 43.9999 640 43.9999C746.667 43.9999 853.333 7.99994 960 7.99994C1066.67 7.99994 1173.33 43.9999 1280 43.9999C1386.67 43.9999 1440 19.0266 1440 9.01329V100H0V43.9999Z"
                        class="fill-current text-zinc-600"></path>
                </svg>
            </div>
            <div class="bg-zinc-600 w-full">
                <Section title={title3} src={projections.src} text={p3} pclass="mx-auto w-2/3" />
            </div>
        </div>

        <SkillList />

        <div class="bg-indigo-950 w-full">
            <div class={"mx-auto w-2/4 my-5 lg:my-10"}>
                <h2 class="text-2xl lg:text-5xl mb-3">About me</h1>
                <p class="text-sm lg:text-lg">{aboutme}</p>
            </div>
        </div>
        <div class="bg-indigo-950 w-full h-20">
            <svg viewBox="0 0 1440 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 43.9999C106.667 43.9999 213.333 7.99994 320 7.99994C426.667 7.99994 533.333 43.9999 640 43.9999C746.667 43.9999 853.333 7.99994 960 7.99994C1066.67 7.99994 1173.33 43.9999 1280 43.9999C1386.67 43.9999 1440 19.0266 1440 9.01329V100H0V43.9999Z"
                    class="fill-current text-indigo-900"></path>
            </svg>
        </div>
        <div class="bg-indigo-900 w-full">
            <div class="mx-auto w-2/4 mb-5 lg:mb-10">
                <h2 class="text-2xl lg:text-5xl mb-3">Projects</h1>
                <div class="flex justify-center">
                    <img src={excavator.src} />
                </div>
            </div>
        </div>
    </main>

    <footer class="color-beige text-center items-center py-2">
        <p id="copyright" class ="text-black font-semibold"></p>
    </footer>
</Layout>

<script>
    document.getElementById('copyright').textContent = `© ${new Date().getFullYear()} Rodrigo Fernández. All rights reserved.`;
</script>